@model List<BridgeClosure>
@{
    ViewData["Title"] = "Toutes les fermetures";
    var today = DateTime.Now;
    var Outdated = new List<BridgeClosure>();
    var ValidDates = new List<BridgeClosure>();
    var InstanceID = 0;


}

<h1>Toutes les fermetures</h1>


@{
    foreach (var selectedClosure in Model)
    {
        if (selectedClosure.ClosingDate > today)
        {
            ValidDates.Add(selectedClosure);
        }
        else
        {
            Outdated.Add(selectedClosure);

        }
    }
}
<h2>Fermetures passées</h2>
<table class="table caption-top">
    <caption>Liste des fermetures</caption>
    <thead>
        <tr>
            <th scope="col">Date de fermeture</th>
            <th scope="col">Nom du bateau / évènement</th>
            <th scope="col">Date de la réouverture</th>
            <th scope="col">Durée de la fermeture</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var closureInvalid in Outdated)
        {
            TimeSpan duration = closureInvalid.ReopeningDate - closureInvalid.ClosingDate;
            int datedifference = DateTime.Compare(closureInvalid.ClosingDate, today);

            @if (datedifference < 0)
            {
                <tr>
                    <th scope="row">@closureInvalid.ClosingDate</th>
                    <td>@closureInvalid.BoatName</td>
                    <td>@closureInvalid.ReopeningDate</td>
                    <td>@duration.ToString(@"hh\:mm")</td>
                </tr>
                InstanceID++;
            }
        }

    </tbody>
</table>
<h2>Fermeture à venir</h2>
<table class="table caption-top">
    <caption>Liste des fermetures</caption>
    <thead>
        <tr>
            <th scope="col">Date de fermeture</th>
            <th scope="col">Nom du bateau / évènement</th>
            <th scope="col">Date de la réouverture</th>
            <th scope="col">Durée de la fermeture</th>
            <th scope="col">Détails</th>


        </tr>
    </thead>
    <tbody>


        @foreach (var closureValid in ValidDates)
        {
            TimeSpan duration = closureValid.ReopeningDate - closureValid.ClosingDate;
            int datedifference = DateTime.Compare(closureValid.ClosingDate, today);

            @if (datedifference >= 0)
            {


                <tr>
                    <th scope="row">@closureValid.ClosingDate</th>
                    <td>@closureValid.BoatName</td>
                    <td>@closureValid.ReopeningDate</td>
                    <td>@duration.ToString(@"hh\:mm")</td>
                    <td><a asp-area="" asp-controller="Home" asp-action="Details" asp-route-InstanceID="@InstanceID">Détails</a></td>
                </tr>
                InstanceID++;
            }
        }


    </tbody>
</table>




